/* Start tags */

.tags {
    width: 66%;
    border: 2px solid #D1D1D1;
    margin: 20px;
    padding: 10px;
    float: left;
}

h2{
    background-color: #D1D1D1;
    padding: 7px;
    margin-bottom: 10px;
}
/* End tags */